<!-- MAIN -->

<template name="home">
    <p>Home Template: Welcome to the Todos application.</p>

    {{#if currentUser}}
        {{> lists}}
    {{/if}}

</template>

<!-- LISTS -->


<!-- ToDo items in one List -->
<template name="listpage">
    <hr>
    {{#if currentUser}}
        {{> lists}}
    {{/if}}

    <h2>(listpage template) Tasks: {{name}}</h2>
    {{> all_todos_in_list}}
</template>

<template name="all_todos_in_list">
    <h3>All ToDo's in List {{name}}</h3>
    <p>{{_id}}</p>
    {{> addTodo}}
    <ul>
        {{#each todo}}
            {{> todoItem}}
        {{/each}}
    </ul>
    
    {{> todos_count}}

</template>

<template name="todoItem">
    <li>
        <input type="text" value="{{name}}" name="todoItem">
        <span>
            [<a href="#" class="delete-todo">Delete</a>]
        </span>
        <span>Completed:</span>
        <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
    </li>
</template>

<template name="addTodo">
    <form>
        Create a task:
        <input type="text" placeholder="Type a task here..." name="todoName">
    </form>
</template>

<template name="todos_count">
    <h2>{{totalTodos}} / {{completedTodos}}</h2>
</template>

<template name="task">
    <h2>*Task*</h2>
</template>

